USE [master]
GO
/****** Object:  Database [CamStore]    Script Date: 17/03/2022 21:59:15 ******/
CREATE DATABASE [CamStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CamStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CamStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CamStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CamStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CamStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CamStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[fullname] [nvarchar](50) NULL,
	[photo] [nvarchar](500) NOT NULL,
	[admin] [bit] NOT NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[accountid] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[accountid] ASC,
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[product_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [int] NOT NULL,
	[price] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[address] [nvarchar](1000) NOT NULL,
	[createdate] [date] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[payonline] [bit] NOT NULL,
	[paid] [bit] NULL,
	[confirmed] [bit] NOT NULL,
	[done] [bit] NOT NULL,
	[rejectreason] [nvarchar](500) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/03/2022 21:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [bigint] NOT NULL,
	[description] [nvarchar](4000) NOT NULL,
	[image] [nvarchar](500) NOT NULL,
	[discount] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[cate_id] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [email], [fullname], [photo], [admin], [phone], [address]) VALUES (2, N'admin', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'admin@camerastore.com', N'A đờ min', N'resources/images/avatar/user-default.png', 1, N'0123456789', NULL)
INSERT [dbo].[Account] ([id], [username], [password], [email], [fullname], [photo], [admin], [phone], [address]) VALUES (9, N'chien', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'chien@email.com', N'Đặng Minh Chiến', N'resources/images/avatar/user-default.png', 0, N'0343506342', N'87/6 đường 379')
INSERT [dbo].[Account] ([id], [username], [password], [email], [fullname], [photo], [admin], [phone], [address]) VALUES (1021, N'ThienAn', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'hongan@gmail.com', N'Hồng Ân', N'resources/images/avatar/271767873_2006504872867449_6986669439442038545_n.jpg', 0, N'0323456789', NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([id], [name]) VALUES (1, N'Canon')
INSERT [dbo].[Brand] ([id], [name]) VALUES (2, N'Sony')
INSERT [dbo].[Brand] ([id], [name]) VALUES (3, N'Nikon')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
INSERT [dbo].[CartItem] ([accountid], [productid], [amount]) VALUES (9, 64, 1)
INSERT [dbo].[CartItem] ([accountid], [productid], [amount]) VALUES (9, 80, 1)
INSERT [dbo].[CartItem] ([accountid], [productid], [amount]) VALUES (9, 99, 1)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Máy ảnh DSLR')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Máy ảnh Mirrorless')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Ống kính')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[OrderDetail] ([product_id], [order_id], [amount], [price]) VALUES (45, 37, 1, 19855000)
INSERT [dbo].[OrderDetail] ([product_id], [order_id], [amount], [price]) VALUES (46, 37, 1, 25990000)
INSERT [dbo].[OrderDetail] ([product_id], [order_id], [amount], [price]) VALUES (49, 40, 1, 23990000)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [account_id], [address], [createdate], [email], [fullname], [phone], [payonline], [paid], [confirmed], [done], [rejectreason]) VALUES (36, 9, N'87/6 đường 379', CAST(N'2022-02-17' AS Date), N'chien@email.com', N'Đặng Minh Chiến', N'0343506342', 0, 0, 1, 1, NULL)
INSERT [dbo].[Orders] ([id], [account_id], [address], [createdate], [email], [fullname], [phone], [payonline], [paid], [confirmed], [done], [rejectreason]) VALUES (37, 9, N'87/6 Đường 379, Tăng Nhơn Phú A, Q.9', CAST(N'2022-03-01' AS Date), N'dangminhchien1302@gmail.com', N'Đặng Minh Chiến', N'0343506341', 0, 0, 1, 0, NULL)
INSERT [dbo].[Orders] ([id], [account_id], [address], [createdate], [email], [fullname], [phone], [payonline], [paid], [confirmed], [done], [rejectreason]) VALUES (38, 9, N'87/6 đường 379', CAST(N'2022-03-15' AS Date), N'chien@email.com', N'Đặng Minh Chiến', N'0343506342', 0, 0, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [price], [description], [image], [discount], [quantity], [brand_id], [cate_id]) VALUES (45, N'Ống kính Fujifilm XF 56mm f/1.2 R', 20900000, N'<p>- Ngàm X / APS-C</p><p>- Khẩu độ f/1.2-16</p><p>- 2 thấu kính phi cầu và 2 thấu kính ED</p><p>- Tráng phủ&nbsp;đa lớp HT-EBC</p><p>- Tốc độ lấy nét tự động và cơ chế lấy nét nhanh chóng</p><p>- 7 lá khẩu tròn</p>', N'resources/images/product/0561.2.jpg', 5, 23, 6, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account]    Script Date: 17/03/2022 21:59:15 ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [IX_Account] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_Cartitem_Account] FOREIGN KEY([accountid])
REFERENCES [dbo].[Account] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_Cartitem_Account]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_Cartitem_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_Cartitem_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([cate_id])
REFERENCES [dbo].[Category] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
