/* body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.CartContainer {
	width: 70%;
	max-height: 90%;
	/* overflow: scroll; */
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px #1687d933;
}

.Header {
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}

.Action {
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
	margin: auto;
	width: 90%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.overflowcart {
	overflow: scroll;
	max-height: 100%;
}

.Cart-Items2 {
	margin: auto;
	/* width: 90%; */
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4vh;

}

.image-box {
	width: 15%;
	text-align: center;
}

.about {
	height: 100%;
	width: 24%;
}

.title {
	padding-top: 10px;
	/* line-height: 10px; */
	/* font-size: 32px; */
	/* font-family: 'Open Sans'; */
	/* font-weight: 800; */
	color: #202020;
}

.subtitle {
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.counter {
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.count {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices {
	height: 100%;
	text-align: right;
}

.amount {
	padding-top: 2vh;
	font-size: 1.5rem;
	font-family: 'Open Sans';
	font-weight: 700;
	color: forestgreen
}

.save {
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
}

.remove {
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad {
	margin-top: 5px;
}

/* 
hr {
	width: 66%;
	float: right;
	margin-right: 5%;
} */

.checkout {
	float: right;
	margin-right: 5%;
	width: 28%;
}

.total {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.Subtotal {
	font-size: 2rem;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}

.items {
	font-size: 1.5rem;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #2c47e0;
	line-height: 2rem;
}

.total-amount {
	font-size: 1.6rem;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	line-height: 2.5rem;
}